@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: PPmondest;
  src: url('public/Fonts/PPMondwest-Regular.otf');
}
@font-face {
  font-family: PPneue;
  src: url('public/Fonts/PPNeueBit-Bold.otf');
}

@font-face {
  font-family: Ingram;
  src: url('public/Fonts/ingram-mono-regular.ttf');
}

@font-face {
  font-family: Geist;
  src: url('public/Fonts/Geist-VariableFont_wght.ttf');
}

@font-face {
  font-family: PPneueM;
  src: url('public/Fonts/pp-neue-montreal-cufonfonts-webfont/ppneuemontreal-book.woff');
}

.removeHigh {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input,
textarea,
.userselecton {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}

img,
link {
  pointer-events: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

/* JS lenis */
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

*,
*:before,
*:after {
  @apply cursor-default;
}

.ISOLATE {
  isolation: isolate;
  text-shadow: 0 0 0.3px rgba(0, 0, 0, 0.3);
}

.PLUS {
  @apply w-[14px] h-[14px] 2xl:w-[0.74vw] 2xl:h-[0.74vw];
}

/* Play Button */
.PLAY-BTN {
  @apply xl:text-[0.7vw] 2xl:text-[0.93vw] uppercase xl:py-[0.46rem] xl:px-[0.7rem] px-[15px] py-[10px] rounded-[10px] 2xl:rounded-[0.46vw] text-[12px]  items-center justify-center bg-bl text-white absolute z-20;
}
.PLAY-BTN-MAIN {
  @apply xl:text-[0.7vw] 2xl:text-[0.93vw] uppercase xl:py-[0.46rem] xl:px-[0.7rem] px-[15px] py-[10px] rounded-[10px] 2xl:rounded-[0.46vw] text-[12px] flex items-center justify-center bg-bl text-white absolute z-20;
}
/* End */

/* Texts Styling */
.MONO-LO {
  @apply text-[10px] sm:text-[12px] md:text-[0.7rem]  font-Ingram uppercase  leading-[14px] sm:leading-[16px]  xl:leading-[0.83rem] border border-black rounded-[5px] 3xl:rounded-[0.2rem] 3xl:border-[0.046rem] px-[12.5px] py-[8.3px] sm:py-[0.46rem] sm:px-[15px] xl:py-[0.46rem] xl:px-[0.7rem];
}

.MONO-NAV-PASSAGE {
  @apply text-[10px] sm:text-[12px] md:text-[0.7rem]  font-Ingram uppercase;
}
.MONO-NAV-PASSAGE-NEW {
  @apply text-[14px] sm:text-[16px] md:text-[1.1rem]  font-Ingram uppercase;
}
.MONO-NAV-PASSAGE-SM {
  @apply text-[10px] sm:text-[12px] md:text-[0.6rem]  font-Ingram uppercase;
}
.MONO-EX {
  @apply text-[10px] sm:text-[12px] md:text-[0.7rem]  font-Ingram uppercase  leading-[14px] sm:leading-[16px]  xl:leading-[0.83rem] border  rounded-[5px] 3xl:rounded-[0.2rem] 3xl:border-[0.046rem] px-[12.5px] py-[8.3px]  sm:py-[0.46rem] xl:px-[0.7rem] border-white text-white;
}
.MONO-EX-NEW {
  @apply text-[10px] sm:text-[12px] md:text-[0.7rem]  font-Ingram uppercase  leading-[14px] sm:leading-[16px]  xl:leading-[0.83rem] border  rounded-[5px] 3xl:rounded-[0.2rem] 3xl:border-[0.046rem] px-[12.5px] py-[8.3px]  sm:py-[0.46rem] xl:px-[0.7rem] border-[#a1a1aa] text-[#a1a1aa];
}
.MONO-NAV-EX {
  @apply text-[12px] md:text-[0.7rem]  font-Ingram uppercase  leading-[14px] sm:leading-[16px]  xl:leading-[0.83rem] border  rounded-[5px] 3xl:rounded-[0.2rem] 3xl:border-[0.046rem] px-[12.5px] py-[8.3px]  sm:py-[0.46rem] xl:px-[0.7rem] border-white text-white;
}
.HOME-TXT-TITLE {
  @apply font-PP text-[7.8vw] xxsm:text-[8.4vw] sm:text-[36px] 2xl:text-[1.67vw] leading-[100%];
}

.BORDER-LO {
  @apply border border-black uppercase rounded-[5px] 3xl:rounded-[0.2rem] 3xl:border-[0.046rem] py-[10px] px-[15px] xl:py-[0.46rem] xl:px-[0.7rem];
}

.MN-TEXT-PRJ {
  @apply capitalize font-PPnM  lg:text-[3rem] lg:leading-[3rem] text-[32px] leading-[32px];
}

.CREDIT-DISCI-TITLE {
  @apply MONO-NAV-PASSAGE text-bl w-fit uppercase mb-[13px];
}
.NEW-TITLES {
  @apply MONO-NAV-PASSAGE text-bl;
}
.CREDIT-DISCI-ITEM-CONT {
  @apply space-y-[2px];
}
.DISCI-TEXT-PRJ {
  @apply 2xl:whitespace-nowrap font-light font-PPnM lg:text-[0.93rem] lg:leading-[1.85rem] text-[12px] sm:text-[16px]  leading-[24px] sm:leading-[40px];
}
.DISCI-TEXT-PRJ-ABOUT {
  @apply 2xl:whitespace-nowrap  font-Geist lg:text-[0.93rem] lg:leading-[1.85rem] text-[12px] sm:text-[16px]  leading-[24px] sm:leading-[40px];
}
.PASSAGE-PRJ-TEXT {
  @apply font-light font-PPnM lg:text-[0.93rem]  md:w-[450px] lg:leading-[1.85rem] text-[12px] sm:text-[16px]  leading-[24px] sm:leading-[40px];
}

/* End */

/* Images Styling */

.HOME-PRJ-ROUNDED {
  @apply rounded-[2.5vw]  lg:rounded-[18px] 2xl:rounded-[0.833rem];
}
.ROUNDED-PRJ {
  @apply rounded-[0.501rem] sm:rounded-[1.02rem];
}

.TWO-IMGS-PRJ {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-[0.46rem] gap-x-0 gap-y-[10px] lg:gap-y-0;
}
.THREE-IMGS-PRJ {
  @apply grid grid-cols-1 lg:grid-cols-3 lg:gap-x-[0.46rem] gap-x-0 gap-y-[10px] lg:gap-y-0;
}

.IMG-PRJ {
  @apply grid grid-cols-1;
}
/* End */

/* Container Sytlings */

.HOME-CNT-PRJ {
  @apply flex flex-col gap-y-[16px] 2xl:gap-y-[0.74rem];
}

.HOME-CNT-TEXT-PRJ {
  @apply flex gap-x-[20px] items-center 2xl:gap-x-[0.92rem];
}

.TEXT-CNT-PRJ {
  @apply flex gap-y-[50px] sm:gap-y-[25px] flex-col lg:flex-row lg:gap-x-[6.9rem];
}

.TEXT-CNT-ABT {
  @apply xl:w-[32.5vw] md:w-[702px] w-full font-Geist lg:text-[0.93rem] lg:leading-[1.85rem] text-[13px] sm:text-[16px];
}
.TEXT-DOWNLOAD-RESUME {
  @apply w-full  lg:text-[0.93rem] lg:leading-[1.85rem] text-[13px] font-Ingram sm:text-[16px];
}

.TEXT-MORE-DETAILS {
  @apply w-full font-Geist lg:text-[0.93rem] lg:leading-[1.85rem] text-[13px] sm:text-[16px];
}

.CENTER-FLX-LO {
  @apply md:flex hidden items-center 3xl:gap-x-[0.46rem] gap-x-[10px];
}

.UPPER-TEXT-CNT-PRJ {
  @apply lg:px-[13.8vw] lg:py-[10.64vw] w-full flex items-center justify-center;
}

/* End */

/* Padding */
.GEN-PAD {
  @apply px-[25px] sm:px-[20px];
}

/* End */

/* Links */
.HOVER-LINK {
  @apply hover:underline duration-300;
}
/* End */

/* General Effects */
.TXT-DIFF {
  @apply mix-blend-difference;
}
/* Ends */

/* MouseStates */
.MOUSE-TEXT {
  @apply font-PPnM text-[15px] xl:text-[0.7rem] uppercase whitespace-nowrap;
}
/* End */
