@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: PPmondest;
  src: url('public/Fonts/PPMondwest-Regular.otf');
}
@font-face {
  font-family: PPneue;
  src: url('public/Fonts/PPNeueBit-Bold.otf');
}

@font-face {
  font-family: Ingram;
  src: url("public/Fonts/ingram-mono-regular.ttf");
}

.removeHigh{
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

body, div
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

input, textarea, .userselecton
{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

img, link {
  pointer-events: none;
}


html.lenis, html.lenis body {
  height: auto;
}



/* JS lenis */
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


a, button, link, section {
  @apply cursor-pointer;
}

.grabb{
  @apply cursor-grab

  
}

.pointerr{
  @apply cursor-pointer
}

.sb{
  will-change: transform
}

html{
  cursor: url("/public/Icons/Grab Mouse.svg"), grab;
}

 *,
*:before,
*:after {
  @apply cursor-default;
}